@model AyudandoAlProjimo.Data.ViewModels.HomeIndexViewModel

@{
    Layout = Session["ID"] == null ? "~/Views/Shared/AnonimoLayout.cshtml" : "~/Views/Shared/PropuestasLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="parallax-container">
    <div class="parallax">
        <h1 class="parallax-title header">Ayudando al projimo</h1>
        <img src="https://redjoven.com.ar/wp-content/uploads/2018/09/daniel-chekalov-614447-unsplash.jpg">
    </div>
</div>

<div class="section white">
    @if (Model.IsLoggedIn)
    {
        <div class="row container">
            <h2 class="header" style="font-family: 'WCManoNegraBta';">Buscar propuestas</h2>
            <div class="row">
                <form class="col s12" onsubmit="handleSearchSubmit(event, '@Session["ID"]')">
                    <div class="row d-flex" style="align-items: center;">
                        <div class="input-field col s8">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="autocomplete-input" class="autocomplete" />
                            <label for="autocomplete-input">Ingrese nombre de propuesta o nombre del usuario</label>
                        </div>
                        <div class="col s4">
                            <input type="submit" value="buscar" class="waves-effect waves-light btn white-text" style="color: white;" />
                        </div>
                    </div>
                </form>

                <div id="loader-search" class="col s12 center-align" style="display: none;">

                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="result-search" class="col s12" style="display: none;">

                </div>
            </div>
        </div>
    }

    <div class="row container">
        <h2 class="header" style="font-family: 'WCManoNegraBta';">Propuestas mas Valoradas</h2>
        <div class="masonry">
            @foreach (var propuesta in Model.MasValoradas)
            {
                <div class="masonry-item">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="materialboxed" src="@propuesta.Foto">
                            <span class="card-title">@propuesta.Nombre</span>
                        </div>
                        <div class="card-content">
                            <p class="title-recaudado margin-bottom-20">Por: <strong>@propuesta.Usuarios.Nombre @propuesta.Usuarios.Apellido (@propuesta.Usuarios.Email), Fecha: @propuesta.FechaCreacion</strong></p>
                            <p class="title-recaudado margin-bottom-20">Valoracion: <strong>@propuesta.Valoracion</strong></p>
                            <div class="margin-bottom-20">
                                <p style="margin-bottom: 5px;" class="title-recaudado">Referentes:</p>
                                @foreach (var item in propuesta.PropuestasReferencias)
                                {
                                    <p class="d-flex"><i style="margin-right: 10px;" class="material-icons prefix">account_circle</i>@item.Nombre (@item.Telefono)</p>
                                }
                            </div>
                            <p><strong>Mas Informacion:</strong></p>
                            <p>@propuesta.Descripcion</p>
                        </div>
                        <div class="card-action d-flex" style="justify-content: space-between">
                            <div>
                                @Html.ActionLink("Ver Detalles", "VerDetalles", "Propuestas", new { id = @propuesta.IdPropuesta }, null)
                            </div>
                            <div>
                                <a href="@Url.Action("Valoracion", "Propuestas", new { id = propuesta.IdPropuesta, valor = "Like" } )">
                                    <i class="tiny material-icons">
                                        thumb_up_alt
                                    </i>
                                    Me gusta
                                </a>

                                <a href="@Url.Action("Valoracion", "Propuestas", new { id = propuesta.IdPropuesta, valor = "Dislike" } )">
                                    <i class="tiny material-icons">
                                        thumb_down_alt
                                    </i>
                                    No me gusta
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.IsLoggedIn)
    {
        <div class="row container">
            <h2 class="header" style="font-family: 'WCManoNegraBta';">Mis Propuestas</h2>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" checked="@Model.OnlyActiveProposals" id="chkOnlyActive" />
                    <span>Solo activas</span>
                </label>
            </p>

            <div class="masonry">
                @foreach (var propuesta in Model.MisPropuestas)
                {
                    <div class="masonry-item">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="materialboxed" src="@propuesta.Foto">
                                <span class="card-title">@propuesta.Nombre</span>
                            </div>
                            <div class="card-content">
                                <p class="title-recaudado margin-bottom-20">Por: <strong>@propuesta.Usuarios.Nombre @propuesta.Usuarios.Apellido (@propuesta.Usuarios.Email), Fecha: @propuesta.FechaCreacion</strong></p>
                                <p class="title-recaudado margin-bottom-20">Valoracion: <strong>@propuesta.Valoracion</strong></p>
                                <div class="margin-bottom-20">
                                    <p style="margin-bottom: 5px;" class="title-recaudado">Referentes:</p>
                                    @foreach (var item in propuesta.PropuestasReferencias)
                                    {
                                        <p class="d-flex"><i style="margin-right: 10px;" class="material-icons prefix">account_circle</i>@item.Nombre (@item.Telefono)</p>
                                    }
                                </div>
                                <p><strong>Mas Informacion:</strong></p>
                                <p>@propuesta.Descripcion</p>
                            </div>
                            <div class="card-action d-flex" style="justify-content: space-between">
                                <div>
                                    @Html.ActionLink("Ver Detalles", "VerDetalles", "Propuestas", new { id = @propuesta.IdPropuesta }, null)
                                    <a href="@Url.Action("ModificarPropuesta", "Propuestas", new { id = @propuesta.IdPropuesta} )">
                                        Modificar
                                    </a>
                                </div>
                                <div>
                                    <a href="@Url.Action("Valoracion", "Propuestas", new { id = propuesta.IdPropuesta, valor = "Like" } )">
                                        <i class="tiny material-icons">thumb_up_alt</i>
                                        Me gusta
                                    </a>

                                    <a href="@Url.Action("Valoracion", "Propuestas", new { id = propuesta.IdPropuesta, valor = "Dislike" } )">
                                        <i class="tiny material-icons">thumb_down_alt</i>
                                        No me gusta
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://assets.survivornet.com/wp-content/uploads/2019/09/10182939/everton-vila-AsahNlC0VhQ-unsplash-1200x630.jpg"></div>
</div>