<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Ayudando al projimo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="teal fixed-top-navbar">
    <div class="container container-top-navbar">
        @Html.ActionLink("Login", "Login", "Ingresar", null, new { @class = "waves-effect waves-teal btn-flat" })
        @Html.ActionLink("Registrarse", "Register", "User", null, new { @class = "waves-effect waves-teal btn-flat" })
    </div>
</div>

    @RenderBody()


    @Scripts.Render("~/bundles/ui-libs")
    @Scripts.Render("~/bundles/Views")
    @RenderSection("scripts", required: false)
</body>
</html>
