@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<nav class="teal">
    <div class="container nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Crear propuesta", "AgregarPropuesta", "Propuestas")</li>
            <li>@Html.ActionLink("Mi perfil", "Index", "Perfil")</li>
            <li>@Html.ActionLink("Acerca de", "Acerca-de", "Home")</li>
            <li>@Html.ActionLink("Denuncias", "Complaints", "Admin")</li>
            <li>@Html.ActionLink("Donaciones", "Donaciones", "User")</li>
        </ul>
    </div>
</nav>

<main>
    @RenderBody()
</main>


@Html.Partial("pv_Footer")