@model AyudandoAlProjimo.Data.ViewModels.PropuestaViewModel

@{
    ViewBag.Title = "VerDetalles";
}

<h2>VerDetalles</h2>
@if (TempData["Mensaje"] != null)
{
    <div>
        <h3>@TempData["Mensaje"]</h3>
    </div>
}
<div>
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Model.Propuesta.FechaFin
    @Model.Propuesta.Nombre
    @Model.Propuesta.Descripcion
    @foreach (var donacion in Model.DonacionesMonetarias)
    {
        @donacion.Usuarios.Nombre
    }
    @Html.ActionLink("Denunciar", "Denunciar", "User", new { id = @Model.Propuesta.IdPropuesta }, null)
    @Html.ActionLink("Back to List", "Index")
</p>
