@model AyudandoAlProjimo.Data.ViewModels.RegistroViewModel

@{
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
    ViewBag.Title = "Register";
}
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="card">
            <div class="card-content">
                <div class="row no-margin">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate", @required = true } })
                        <label>Usuario</label>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "validate", @required = true, @type = "password" } })
                        <label>Contraseña</label>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "validate", @required = true, @type = "password" } })
                        <label>Repetir Contraseña</label>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        @Html.EditorFor(x => x.FechaNacimiento, new { htmlAttributes = new { @class = "validate active" } })
                        <label class="active">Fecha Nacimiento (dd/mm/aaaa)</label>
                        @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                    </div>

                    <div class="right">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Enviar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
